.recent {
    background-color: #3d3d41; /* Sidebar background color */
    color: #e8e6e6; /* Text color */
    width: 200px; /* Initial sidebar width */
    border: 3px solid white;
    position:fixed;
    top:50px;
    left:0;
    /* Sidebar collapses on screens smaller than 768px (adjust as needed) */
    @media (max-width: 768px) {
      width: 0;
      overflow: hidden;
    }
    font-size: 1.4rem;
  }
  .recent h3{
    font-size: 2rem;
    border-bottom: 2px solid white;
  }
  /* Style for sidebar links/buttons */
  .recent button {
    background-color: transparent;
    border: none;
    text-align: left;
    width: 100%;
    padding: 10px;
    padding-left: 0px;
    text-decoration: none;
    display: block;
    color: #fff;
    cursor: pointer;
  }
  
  /* Style for collapsed sidebar links/buttons */
  @media (max-width: 768px) {
    .recent button {
      display: none;
    }
  }
  .recent ul {
        list-style-type: none; /* Removes the bullet points */
        padding-left: 4px;
  }
  .past{
    padding-left: 0px;
    margin-left: 0px;
  }
  .past:hover {
    background-color: rgb(219, 158, 16);
  }